<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head"></head>
<footer th:fragment="footer" class="text-center sub-title-text bg-light">
  <!-- Grid container -->
  <div class="container p-3 pb-0 footer-position footer-style">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Facebook -->
      <a
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->

      <a
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
      ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

</footer>

</html>