<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Edit</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Edit Profile</h1>

<div class="page-wrapper">
    <div class="row" id="edit-form">
        <form>
            <label for="date-of-birth">DOB:</label>
            <input type="date" id="date-of-birth" name="date-of-birth" placeholder="mm/dd/yyyy">
            <br>
            <label class="fit-zipcode" for="fit-zipcode">Zip Code</label>
            <input type="number" pattern="[0-9]" id="fit-zipcode" name="zipcode" value="" placeholder="Zip Code">
            <br>
            <label for="running-exp">Race Experience:</label>
            <select name="running-exp" id="running-exp">
                <option value="none" selected>select</option>
                <option value="25">None</option>
                <option value="20">Beginner</option>
                <option value="15">Recreational</option>
                <option value="10">Intermediate</option>
                <option value="5">Expert</option>
            </select>
            <br>
            <button id="delete-btn" type="delete">Delete</button>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<nav th:replace="partials/footer :: footer"></nav>
</body>
</html>