<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{partials/head :: head}">

    <title>Profile</title>

</head>
<body>
<nav th:replace="~{partials/navbar :: navbar}"></nav>
<div class="under-nav">
<h1 class="title-text justify-content-center align-items-center" align="center">Profile</h1>
</div>
<div class="container d-flex justify-content-center align-items-center" th:object="${user}">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/images/profile-female.jpg" alt="prof-1" class="card-img-top img-fluid mx-auto d-block profile-pic">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center sub-title-text">
                    <h2 class="card-title">
                        <span th:text="${user.getUsername()}"></span>
                    </h2>
                    <h3 class="card-title">
                        <span th:text="${user.getZipcode()}"></span>
                    </h3>
                    <br>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Profile Edit</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editFitnessModal">Fitness Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--<div class="d-flex">-->
<!--    <div class="d-flex">-->
<!--        <div class="col-md-2 float-start">-->
<!--            <img src="" alt="race image" class="card-img-top" style="width: 100%; height: 100%;">-->
<!--        </div>-->
<!--        <div class="col-md-10 card-body general-text">-->
<!--            &lt;!&ndash; Trigger/Open The Modal &ndash;&gt;-->
<!--            <a class="bookmarkedRace">(race details) On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue."</a>-->

<!--            &lt;!&ndash; The Modal  &ndash;&gt;-->
<!--            <div class="myModal" data-datatype="modal" style="position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%;">-->

                <!-- Modal content -->
<!--                <div class="modal-content general-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px;">-->
<!--                    <span class="close">&times;</span>-->
<!--                    <p class="card-text">(race details) On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue."</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Profile Edit Modal -->

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/profile/{id}/edit(id=${user.getId()})}" th:method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="fit-zipcode">Zip Code</label>
                        <input type="number" pattern="[0-9]" class="form-control" id="fit-zipcode" name="zip-code" th:field="*{zipcode}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Fitness Edit Modal-->

<div class="modal fade" id="editFitnessModal" tabindex="-1" role="dialog" aria-labelledby="editFitnessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFitnessModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form th:action="@{/profile/{id}/edit(id=${user.getId()})}" th:method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="activity-level">Activity Level:</label>
                        <select id="activity-level" th:field="*{activityLvl}">
                            <option th:each="activityLvl : ${T(com.codeup.phaserun.models.User.ActivityLvlEnum).values()}"
                                    th:value="${activityLvl}"
                                    th:text="${activityLvl}"
                                    th:selected="${T(com.codeup.phaserun.models.User.ActivityLvlEnum)}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="running-exp">Running Experience:</label>
                        <select id="running-exp" th:field="*{runningExp}">
                            <option th:each="runningExp : ${T(com.codeup.phaserun.models.User.RunningExpEnum).values()}"
                                    th:value="${runningExp}"
                                    th:text="${runningExp}"
                                    th:selected="${T(com.codeup.phaserun.models.User.RunningExpEnum)}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>


            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#editProfileModal').click(function () {
            $('#editProfileModal').modal('show');
        });

        $('#editFitnessModal').click(function (){
            $('#editFitnessModal').modal('show');
        });
    });

</script>

<footer th:replace="~{partials/footer :: footer}"></footer>
</body>
</html>