<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head">
    <title>Race Search</title>
    <link rel="stylesheet" th:href="@{/css/raceSearchModal.css}">
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="under-nav title-text">Race Search</h1>
<div class="race-form">
    <form th:action="@{/racesearch}" th:method="POST" th:Object="${race}">
        <label for="race-distance">Race Distance:</label>
        <select name="race-distance" id="race-distance">
            <option value="5k" selected>5k</option>
            <option value="10k">10k</option>
            <option value="half">13.1 Half-Marathon</option>
            <option value="full">26.2 Marathon</option>
        </select>
        <br>
        <label for="search-radius">Search Radius:</label>
        <select name="search-radius" id="search-radius">
            <option value="5" selected>5 Miles</option>
            <option value="10">10 Miles</option>
            <option value="15">15 Miles</option>
            <option value="25">25 Miles</option>
            <option value="50">50 Miles</option>
            <option value="100">100 miles</option>
            <option value="any">Unlimited</option>
        </select>
        <label class="flex-0 margin-lr-10">from</label>
        <label class="sr-only" for="zipcodeRadius">Zip Code</label>
        <input type="number" pattern="[0-9]" id="zipcodeRadius" name="zipcodeRadius" value="" placeholder="Zip Code">
        <br>
        <button type="submit">Search</button>
    </form>
</div>

<h1>Results</h1>

<div id="results">
    <div th:each="Race : ${races}" class="card">
        <img src="" alt="race image" class="card-img-top">
        <div class="card-body">
            <!-- Trigger/Open The Modal -->
            <a class="raceCard" th:text="${Race.raceName}">RACE CARD GOES HERE</a>

            <!-- The Modal  -->
            <div class="myModal" data-datatype="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p class="card-text" th:text="${Race.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<nav th:replace="partials/footer :: footer"></nav>

<script type="text/javascript" th:src="@{/js/raceSearchModal.js}">
</script>

</body>
</html>