.bodyAbout {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headshot {
    object-fit: contain;
    border: 1px solid #000;
    border-radius: 20%;
    box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
    position: relative;
    z-index: 10;
    height: 225px;
    width: 181px;
}

.headshot.kenneth
{
    object-fit: cover;
}

.bioHeader {
    font-size: 50px;
    color: #000000;
    position: relative;
    z-index: 15;
    padding-top: .5em;
    padding-left: 25px;
}

.bioHeader.kenneth
{
    padding-left: 85px;
}

@media only screen and (min-width: 0px) and (max-width: 420px) {

    .row
    {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 8em;
    }


    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 275px;
        max-width: 100vw;
        min-width: 80vw;
        margin: 4em 0;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: start;
    }

    .headshot {
        border: 1px solid #000;
        border-radius: 20%;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: relative;
        z-index: 10;
        height: 150px;
        width: 120px;
    }

    .headshot.kenneth
    {
        object-fit: cover;
        height: 150px;
        width: 120px;
    }

    .bio{
        font-size: 20px;
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: absolute;
        padding-top: 6.6em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        /*padding: 4em 1.5em;*/
        height: 22.7em;
        width: 100%;
    }

    .bio.long-bio
    {
        padding-top: 5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    .bioHeader {
        font-size: 1.43em;
        color: #000000;
        position: relative;
        z-index: 15;
        padding-top: 1.2em;
        padding-left: 0;
        /*padding-right: ;*/
    }

    .bioHeader.kenneth
    {
        padding-left: 0;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -25px;
        top: -50px;
    }

    .rightAlign {
        background-color: #55acee;
        left: -65px;
        top: -65px;
    }
}



@media only screen and (min-width: 421px) and (max-width: 991px) {

    .row
    {
        margin-bottom: 5em;
    }

    .bioHeader
    {
        font-size: 40px;
    }

    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 275px;
        max-width: 100%;
        min-width: 700px;
        margin: 4em 0;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: start;
    }

    .headshot {
        border: 1px solid #000;
        border-radius: 20%;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: relative;
        z-index: 10;
        height: 150px;
        width: 120px;
    }

    .headshot.kenneth
    {
        object-fit: cover;
        height: 150px;
        width: 120px;
    }

    .bio{
        font-size: 25px;
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: absolute;
        /*padding-top: 50px;*/
        padding: 4em 1.5em;
        height: 15em;
        width: 100%;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -65px;
        top: -65px;
    }

    .rightAlign {
        background-color: #55acee;
        left: -65px;
        top: -65px;
    }
}

/*@media only screen and (min-width: 768px) and (max-width: 991px){*/

/*    .cardAbout {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        position: relative;*/
/*        height: 25em;*/
/*        max-width: 100%;*/
/*        min-width: 50em;*/
/*        margin: 1em;*/
/*        padding: 1em;*/
/*        box-shadow: none;*/
/*        border: none;*/
/*    }*/

/*    .cardAbout.right {*/
/*        justify-content: start;*/
/*    }*/

/*    .bio{*/
/*        border: 1px solid #000;*/
/*        border-radius: 50px;*/
/*        box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);*/
/*        position: absolute;*/
/*        height: 20em;*/
/*        width: 100%;*/
/*    }*/

/*    .leftAlign {*/
/*        background-color: #3b5998;*/
/*        left: -65px;*/
/*        top: -65px;*/
/*    }*/

/*    .rightAlign {*/
/*        background-color: #55acee;*/
/*        left: -65px;*/
/*        top: -65px;*/
/*    }*/
/*}*/

@media only screen and (min-width: 992px) {

    .row
    {
        margin-bottom: 5em;
    }
    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 30em;
        max-width: 100%;
        min-width: 50em;
        margin: 1em;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: end;
    }

    .bio{
        font-size: 25px;
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: absolute;
        /*padding-top: 180px;*/
        /*padding-left: 25px;*/
        /*padding-right: 15px;*/
        padding: 7.5em 1.5em;
        height: 17em;
        width: 100%;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -65px;
        top: -65px;
        /*-webkit-shape-outside: circle(50%);*/
        shape-outside: circle(50%);
        float: left;
    }

    .rightAlign {
        background-color: #55acee;
        left: 65px;
        top: -65px;
    }
}

