.bodyAbout {
    display: flex;
    justify-content: center;
    padding: 5px;
}

/*.column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

.headshot {
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);
    position: relative;
    z-index: 10;
    height: 225px;
    width: 225px;
}

@media only screen and (min-width: 0px) and (max-width: 991px) {

    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 275px;
        max-width: 100%;
        min-width: 700px;
        margin: 1em;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: start;
    }

    .headshot {
        border: 1px solid #000;
        border-radius: 50%;
        box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);
        position: relative;
        z-index: 10;
        height: 175px;
        width: 175px;
    }

    .bio{
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);
        position: absolute;
        height: 15em;
        width: 100%;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -65px;
        top: -65px;
    }

    .rightAlign {
        background-color: #55acee;
        left: -65px;
        top: -65px;
    }
}

/*@media only screen and (min-width: 768px) and (max-width: 991px){*/

/*    .cardAbout {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        position: relative;*/
/*        height: 25em;*/
/*        max-width: 100%;*/
/*        min-width: 50em;*/
/*        margin: 1em;*/
/*        padding: 1em;*/
/*        box-shadow: none;*/
/*        border: none;*/
/*    }*/

/*    .cardAbout.right {*/
/*        justify-content: start;*/
/*    }*/

/*    .bio{*/
/*        border: 1px solid #000;*/
/*        border-radius: 50px;*/
/*        box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);*/
/*        position: absolute;*/
/*        height: 20em;*/
/*        width: 100%;*/
/*    }*/

/*    .leftAlign {*/
/*        background-color: #3b5998;*/
/*        left: -65px;*/
/*        top: -65px;*/
/*    }*/

/*    .rightAlign {*/
/*        background-color: #55acee;*/
/*        left: -65px;*/
/*        top: -65px;*/
/*    }*/
/*}*/

@media only screen and (min-width: 992px) {
    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 25em;
        max-width: 100%;
        min-width: 50em;
        margin: 1em;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: end;
    }

    .bio{
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);
        position: absolute;
        height: 20em;
        width: 100%;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -65px;
        top: -65px;
    }

    .rightAlign {
        background-color: #55acee;
        left: 65px;
        top: -65px;
    }
}

