.bodyAbout {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headshot {
    object-fit: contain;
    border: 1px solid #000;
    border-radius: 20%;
    box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
    position: relative;
    z-index: 10;
    height: 225px;
    width: 181px;
}

.bioHeader {
    font-size: 35px;
    color: #000000;
    position: relative;
    z-index: 15;
    padding-top: 60px;
    padding-left: 95px;
}

@media only screen and (min-width: 0px) and (max-width: 991px) {

    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 275px;
        max-width: 100%;
        min-width: 700px;
        margin: 1em;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: start;
    }

    .headshot {
        border: 1px solid #000;
        border-radius: 50%;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: relative;
        z-index: 10;
        height: 175px;
        width: 125px;
    }

    .bio{
        font-size: 25px;
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: absolute;
        padding-top: 50px;
        height: 15em;
        width: 100%;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -65px;
        top: -65px;
    }

    .rightAlign {
        background-color: #55acee;
        left: -65px;
        top: -65px;
    }
}

/*@media only screen and (min-width: 768px) and (max-width: 991px){*/

/*    .cardAbout {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        position: relative;*/
/*        height: 25em;*/
/*        max-width: 100%;*/
/*        min-width: 50em;*/
/*        margin: 1em;*/
/*        padding: 1em;*/
/*        box-shadow: none;*/
/*        border: none;*/
/*    }*/

/*    .cardAbout.right {*/
/*        justify-content: start;*/
/*    }*/

/*    .bio{*/
/*        border: 1px solid #000;*/
/*        border-radius: 50px;*/
/*        box-shadow: 1px 6px 9px 0 rgba(153,153,153,0.75);*/
/*        position: absolute;*/
/*        height: 20em;*/
/*        width: 100%;*/
/*    }*/

/*    .leftAlign {*/
/*        background-color: #3b5998;*/
/*        left: -65px;*/
/*        top: -65px;*/
/*    }*/

/*    .rightAlign {*/
/*        background-color: #55acee;*/
/*        left: -65px;*/
/*        top: -65px;*/
/*    }*/
/*}*/

@media only screen and (min-width: 992px) {

    .cardAbout {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 30em;
        max-width: 100%;
        min-width: 50em;
        margin: 1em;
        padding: 1em;
        box-shadow: none;
        border: none;
    }

    .cardAbout.right {
        justify-content: end;
    }

    .bio{
        font-size: 25px;
        border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 1px 6px 9px 0 rgba(35, 35, 35, 0.75);
        position: absolute;
        padding-top: 180px;
        padding-left: 25px;
        padding-right: 15px;
        height: 15em;
        width: 100%;
    }

    .leftAlign {
        background-color: #3b5998;
        left: -65px;
        top: -65px;
        /*-webkit-shape-outside: circle(50%);*/
        shape-outside: circle(50%);
        float: left;
    }

    .rightAlign {
        background-color: #55acee;
        left: 65px;
        top: -65px;
    }
}

