body {font-family: Arial, Helvetica, sans-serif;}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#fitness-form {
    border: 3px solid #000000;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #d5d5d5;
}