/*Footer Icons*/

.fab{
    position: absolute;
    height: 10px;
    margin-top: -6px;
    width: 10px;
    right: -1px;
    z-index: 100;
}
.footer-position{
    opacity: .75;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-bottom: -1em;
}
.footer-style{
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
}