/*Jumbotron*/

.register-link {
    font-family: Cardo, serif;
    font-size: 2em; /* Increase the font size */
    display: block;
    text-align: center;
    margin-top: 10px; /* Add margin to separate it from the previous element */
    color: cornflowerblue;
    z-index: 1;
}

.jumbotron {
    position: absolute;
    left: -100%;
    width: 100%;
    animation: slide-in 1s forwards;
    margin-bottom: 20px; /* Add margin to separate it from the next element */
}

@keyframes slide-in {
    100% {
        left: 0;
    }
}

.jumbotron-background::after{
    content: "";
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.img-set{
    width: 500px;
    height: auto;
    padding: 1em 2em;
}

.under-jumbo{
    padding-top: 12em;
}

.container{
    padding-top: 2em;
}

/* Login */

/*.login-card {*/
/*    width: 190px;*/
/*    height: 254px;*/
/*    background: #F4F6FB;*/
/*    border: 1px solid white;*/
/*    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);*/
/*    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);*/
/*    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);*/
/*}*/

/*.login-form {*/
/*    padding: 25px;*/
/*}*/

/*.login-card-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.login-card svg {*/
/*    color: #7878bd;*/
/*    margin-bottom: 20px;*/
/*    margin-right: 5px;*/
/*}*/

/*.login-form-heading {*/
/*    padding-bottom: 20px;*/
/*    font-size: 21px;*/
/*    color: #7878bd;*/
/*}*/

/*.login-field {*/
/*    padding-bottom: 10px;*/
/*}*/

/*.login-input {*/
/*    border-radius: 5px;*/
/*    background-color: #e9e9f7;*/
/*    padding: 5px;*/
/*    width: 100%;*/
/*    color: #7a7ab3;*/
/*    border: 1px solid #dadaf7*/
/*}*/

/*.login-input:focus-visible {*/
/*    outline: 1px solid #aeaed6;*/
/*}*/

/*.login-input::placeholder {*/
/*    color: #bcbcdf;*/
/*}*/

/*label {*/
/*    color: #B2BAC8;*/
/*    font-size: 14px;*/
/*    display: block;*/
/*    padding-bottom: 4px;*/
/*}*/

/*button {*/
/*    background-color: #7878bd;*/
/*    margin-top: 10px;*/
/*    font-size: 14px;*/
/*    padding: 7px 12px;*/
/*    height: auto;*/
/*    font-weight: 500;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*button:hover {*/
/*    background-color: #5f5f9c;*/
/*}*/