/*Jumbotron*/

.register-link {
    font-family: Cardo, serif;
    font-size: 2em; /* Increase the font size */
    display: block;
    text-align: center;
    margin-top: 10px; /* Add margin to separate it from the previous element */
    color: cornflowerblue;
    z-index: 1;
}

.jumbotron {
    position: absolute;
    left: -100%;
    width: 100%;
    animation: slide-in 1s forwards;
    margin-bottom: 20px; /* Add margin to separate it from the next element */
}

@keyframes slide-in {
    100% {
        left: 0;
    }
}

.jumbotron-background::after{
    content: "";
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img-set{
    width: 500px;
    height: auto;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.under-jumbo{
    padding-top: 12em;
}

.container{
    padding-top: 2em;
}

.intimidate-setting{
    padding-left: 5em;
}