/* Navbar */

.form-group {
    display: inline-block;
    margin-right: 3px;
}

.form-control {
    width: auto;
    display: inline-block;
}

.navbar {
    background-color: #273556 !important;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: whitesmoke;
}

.navbar-toggler{
    border: black 2px;
    background-color: lightskyblue;
}

.nav-group{
    font-family: Cardo, serif;
    font-size: 1em;
    padding-top: 12px;

}

.logo{
    height: 50px;
    width: auto;
    margin-right: 10px;
}