/* Navbar */

.form-group {
    display: inline-block;
    margin-right: 3px;
}

.form-control {
    width: auto;
    display: inline-block;
}

.navbar {
    background-color: #273556 !important;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: whitesmoke;
}

.navbar-toggler{
    border: black 2px;
    background-color: rgb(28 217 203);
}

.custom-toggler.navbar-toggler {
    border-color: rgb(28, 217, 203);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(14, 141, 150, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-group{
    /*font-family: Cardo, serif;*/
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.logo{
    height: 78px;
    width: 10em;
    margin-top: 11px;
    padding-left: 1em;
}

.logo-home {
    height: 204px;
    width: 270px;
    display: block;
    margin: auto;
    padding-top: 25px;
}

.btn-primary{
    border: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.2em;
}

a:hover {
    background-color: #5f5f9c;

}