
/* All Pages - Top Container */

.under-nav{
    padding-top: 6em;
}

/* Text Settings*/

.sub-title-text{
    font-family: Cardo, serif;
    font-size: 26px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.general-text{
    font-family: Cardo, serif;
    font-size: 20px;
}

.centered-text{
    align-content: center;
    text-align: left;
}

.title-text{
    font-family: Cardo, serif;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.opacityForText{
    background-color: white;
    opacity: 0.9;
    border-radius: 25px;
}

/* Body */

body{
    background-image: url("/images/background-unsplash.jpg");
    background-color: #e3e2e2;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 1em 10em;
    margin-bottom: 8em;
}

/* Forms */

label{
    padding: 1em;
}

input{
    padding: 1em;
}

/*Page Headers*/
.pageTitle{
    font-size: 4em;
    color: white;
}

/*input field headers*/
.inputHeaderField {
    color: white;
    /*font-size: 1.4vw;*/
    font-family: Cardo, serif;
    padding: 1px
}
.inputHeaderField-race{
    color: white;
    font-size: 2vw;
    font-family: Cardo, serif;
    padding: 1px
}
.inputHeaderField-racecard {
    color: white;
    font-size: 3vw;
    font-family: Cardo, serif;
    padding: 1px
}