/*Footer Icons*/

.fab{
    position: absolute;
    height: 10px;
    margin-top: -6px;
    width: 10px;
    right: -1px;
    z-index: 100;
}
.footer-position{
    opacity: .75;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-bottom: -1em;
}
.footer-style{
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
}

/* Navbar */

.form-group {
    display: inline-block;
    margin-right: 3px;
}

.form-control {
    width: auto;
    display: inline-block;
}

.navbar {
    background-color: #000000;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    box-shadow: whitesmoke;
}

.navbar-toggler{
    border: black 2px;
    background-color: lightskyblue;
}

.nav-group{
    font-family: Cardo, serif;
    font-size: 1em;
    padding-top: 12px;

}

.logo{
    height: 75px;
    width: 100PX;
    margin-right: 10px;
}

.btn-primary{
    background-color: cornflowerblue;
    border: none;
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
    margin-right: 3em;
}

/* All Pages - Top Container */

.under-nav{
    padding-top: 6em;
}

/* Text Settings*/

.sub-title-text{
    font-family: Cardo, serif;
    font-size: 22px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.general-text{
    font-family: Cardo, serif;
    font-size: 20px;
}

.centered-text{
    align-content: center;
    text-align: left;
}

.title-text{
    font-family: Cardo, serif;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
}

/* Body */

body{
    background-image: url("/images/background-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 1em 10em;
    margin-bottom: 8em;
}

/* Forms */

label{
    padding: 1em;
}

input{
    padding: 1em;
}


