body, html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}


/* All Pages - Top Container */

.under-nav{
    padding-top: 6em;
}

/* Text Settings*/

.sub-title-text{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sub-title-text.home {
    font-size: 36px;
}

.general-text{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

.title-text{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
}

.opacityForText{
    background-color: white;
    opacity: 0.9;
    border-radius: 25px;
}

/* Body */

body:before{
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: #e3e2e2 url('../images/background-unsplash.jpg') no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Forms */

label{
    padding: 1em;
}

input{
    padding: 1em;
}

/*Page Headers*/
.pageTitle{
    font-size: 4em;
    color: white;
}

/*input field headers*/
.inputHeaderField {
    color: white;
    font-family: Cardo, serif;
    padding: 1px
}
.inputHeaderField-loginError {
    color: #ffc300;
    text-shadow: 0 0 1px black;
    font-family: Cardo, serif;
    font-size: xx-large;
}
.inputHeaderField-race{
    color: white;
    font-family: Cardo, serif;
    padding: 1px
}
.inputHeaderField-racecard {
    color: white;
    font-size: 3vw;
    font-family: 'Red Hat Display', sans-serif;
    padding-bottom: 10px
}

.signup
{
    text-decoration: none;
}