/*Footer Icons*/

.fab{
    position: absolute;
    height: 10px;
    margin-top: -6px;
    width: 10px;
    right: -1px;
    z-index: 100;
}
.footer{
    background-color: #000000;
    color: cornflowerblue;
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}

/* Navbar */

.navbar {
    background-color: #000000;
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.navbar-nav{
    display: flex;
    flex-grow: 1;
    justify-content: right;
}
.navbar-toggler{
    border: black 2px;
    background-color: cornflowerblue;

}
.navbar-brand{
    font-family: 'Roboto Black', sans-serif;
    font-size: 1.5em;
    color: cornflowerblue;
}

.logo{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* All Pages - Top Text/Media */

.under-nav{
    padding-top: 4em;
}

/* General Text */

.sub-title-text{
    font-family: 'Roboto Bold', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 1em;
}

.general-text{
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
}

/* Body */
body{
    padding: 1em 1em 10em;
    margin-bottom: 8em;
}

/* Forms */

label{
    padding: 1em;
}
input{
    padding: 1em;
}


.centered-text{

    text-align: left;

}