/*Footer Icons*/

.fab{
    position: absolute;
    height: 10px;
    margin-top: -6px;
    width: 10px;
    right: -1px;
    z-index: 100;
}
.footer{
    background-color: #000000;
    color: cornflowerblue;
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}

/* Navbar */

.form-group {
    display: inline-block;
    margin-right: 3px;
}

.form-control {
    width: auto;
    display: inline-block;
}

.navbar {
    background-color: #000000;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.navbar-toggler{
    border: black 2px;
    background-color: cornflowerblue;
}

.nav-group{
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
    padding-top: 12px;

}

.logo{
    height: 75px;
    width: 100PX;
    margin-right: 10px;
}

.btn-primary{
    background-color: cornflowerblue;
    border: none;
    font-family: 'Roboto Black', sans-serif;
    font-size: 1em;
    margin-right: 3em;
}


/* All Pages - Top Container */

.under-nav{
    padding-top: 5em;
}

/* Text Settings*/

.sub-title-text{
    font-family: 'Roboto Bold', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.general-text{
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
}

.centered-text{
    align-content: center;
    text-align: left;
}

.title-text{
    font-family: 'Roboto Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Body */
body{
    padding: 1em 1em 10em;
    margin-bottom: 8em;
}

/* Forms */

label{
    padding: 1em;
}

input{
    padding: 1em;
}

.page-wrapper{
    height: 100vh;
    width: 100%;
    background-image: url("static/images/Background.jpg");
}

