body{
    min-height: 100vh;
}

/*!*Photo Upload*!*/

.header-prof {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-prof svg {
    height: 100px;
}

.header-prof p {
    text-align: center;
    color: black;
}

.footer-prof {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.footer-prof svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer-prof p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}

/*!* Comment Box *!*/

.cards {
    perspective: 500px;
}

.card_title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    /*transform: translateY(-50%);*/
    /*transition: transform .5s;*/
    font: 700 1.5rem monospace;
    font-family: 'Red Hat Display', sans-serif;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.card{
    margin-bottom: 1em;
}

/* Comment Box */

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:400px;
    overflow:auto;
}
.commentList li {
    margin: 10px 0 0;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    margin:0;
}

.comment-section {
    display: none;
    margin-top: 10px;
}

.comment-styling{
    border: 3px ridge #273556;
    border-radius: 5px;
    padding: 5px;
    /*margin: 5px;*/
    background-color: #f2f2f2;
    box-shadow: whitesmoke;
}

/*!*Info Box*!*/

.info-section {
    display: none;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;
}

/*!*Remove Button*!*/

.remove-btn{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

/*  Event Cards  */

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 10px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    margin-bottom: 24px;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    /*aspect-ratio: 16 / 9;*/
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    background-color: #ffffff !important;
    padding: 6px;
    display: flex!important;
    align-items: center;
    justify-content: space-evenly !important;
}

.article-body button:last-child {
    /*margin-right: auto;*/
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

article a:focus {
    outline: 1px dotted #28666e;
}

/*article a .icon {*/
/*    min-width: 24px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    margin-left: 5px;*/
/*    transform: translateX(var(--link-icon-translate));*/
/*    opacity: var(--link-icon-opacity);*/
/*    transition: all 0.3s;*/
/*}*/

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.below-nav{
    padding-top: 6em;
}

.title-placement{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bookmark-text{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
}

.btn-delete{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
}
