/*Profile Container*/

.profile-pic{
    border-radius: 50%;
}

.photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 2em;*/
}

.bg-image {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.card-body {
    margin-top: 2em;
    border-radius: 5px;
}

.btn {
    flex: 1;
    margin: .5em;
}

@media screen and (min-width: 768px) {
    .profile-pic{
        width: 200px;
        height: 200px;
    }

    .bg-image {
        height: 230px;
        width: 230px;
    }
}

.comment-section {
    display: none;
    margin-top: 10px;
}

.info-section {
    display: none;
    margin-top: 10px;
}

/*Photo Upload*/

.container-prof {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}

.header-prof {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-prof svg {
    height: 100px;
}

.header-prof p {
    text-align: center;
    color: black;
}

.footer-prof {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.footer-prof svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer-prof p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}

/*Bookmarks*/

/* Comment Box */

.detailBox {
    border:1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.actionBox .form-group * {
    width:100%;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:300px;
    overflow:auto;
}
.commentList li {
    margin: 10px 0 0;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.comment-section {
    display: none;
    margin-top: 10px;
}

/*Info Box*/

.info-section {
    display: none;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.remove-btn{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}