/*Profile Container*/

.profile-pic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}
.photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.bg-image {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 360px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.card-body {
    margin-top: 2em;
}

.btn {
    flex: 1;
    margin: 0 0.5em;
}

@media screen and (min-width: 768px) {
    .profile-pic{
        width: 340px;
        height: 340px;
    }

    .bg-image {
        height: 380px;
        width: 380px;
    }
}

/*Bookmark Container*/
.race-card{
    padding: 1em;
    margin: 1em;
}

.race-border{
    border: 1px solid #888888;
    margin: 15px 15px 15px 15px;
}

.comment-section {
    display: none;
    margin-top: 10px;
}

.show-comments .comment-section {
    display: block;
}
.info-section {
    display: none;
    margin-top: 10px;
}

.show-info .info-section {
    display: block;
}


/*Photo Upload*/

.container-prof {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}

.header-prof {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-prof svg {
    height: 100px;
}

.header-prof p {
    text-align: center;
    color: black;
}

.footer-prof {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.footer-prof svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer-prof p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}

/*Bookmarks*/

.cards {
    perspective: 500px;
}

.card_title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    /*transform: translateY(-50%);*/
    /*transition: transform .5s;*/
    font: 700 1.5rem monospace;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.card{
    margin-bottom: 1em;
}