/*!*Photo Upload*!*/

.header-prof {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-prof svg {
    height: 100px;
}

.header-prof p {
    text-align: center;
    color: black;
}

.footer-prof {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.footer-prof svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer-prof p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}

/*!* Comment Box *!*/

.commentList {
    padding:0;
    list-style:none;
    max-height:400px;
    overflow:auto;
}
.commentList li {
    margin: 10px 0 0;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    margin:0;
}

.comment-section {
    display: none;
    margin-top: 10px;
}

.comment-styling{
    border: 3px ridge #273556;
    border-radius: 5px;
    padding: 5px;
    /*margin: 5px;*/
    background-color: #f2f2f2;
    box-shadow: whitesmoke;
}

/*!*Info Box*!*/

.info-section {
    display: none;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;
}

/*!*Remove Button*!*/

.remove-btn{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.race-card {
    background: #273556 !important;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.races-container{
    padding-top: 1em;
}