body{
    min-height: 100vh;
}
/*!*Photo Upload*!*/
.header-prof {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-prof svg {
    height: 100px;
}
.header-prof p {
    text-align: center;
    color: black;
}
.footer-prof {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}
.footer-prof svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}
.footer-prof p {
    flex: 1;
    text-align: center;
}
#file {
    display: none;
}
.section {
    height: 100vh;
    opacity: 0.85;
}
.container {
    padding-top: 5rem;
}
.row.below-nav {
    padding-top: 6em;
}
.card {
    border-radius: 10px;
    margin-bottom: 1em;
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.d-flex.pt-1 > .btn {
    flex-grow: 1;
}
.articles {
    border-radius: 10px;
    padding-top: 15px;
}
.article-wrapper {
    position: relative;
    border-radius: 10px;
    background: #fff;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    margin-bottom: 24px;
}
.title-placement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bookmark-text {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
}
.article-body {
    background-color: #FFFFFF !important;
    padding: 6px;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly !important;
}
.comment-section {
    display: none;
    margin-top: 10px;
}
.comment-styling {
    border: 3px ridge #273556;
    border-radius: 5px;
    padding: 5px;
    background-color: #F2F2F2;
    box-shadow: whitesmoke;
}
.btn-delete {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
}
.comment-btn.active {
    background-color: #007BFF;
    color: white;
}