/* Style for Information button */
.info-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    font-weight: 600;
    padding: 6px 12px;
    transition: all 0.3s ease;
}

.info-btn:hover {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}

/* Style for Sign-up button */
.signup-btn {
    background-color: #2479f5;
    color: #ffffff;
    border: none;
    font-weight: 600;
    padding: 8px 16px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.signup-btn:hover {
    background-color: #1e7e34;
    color: #ffffff;
    text-decoration: none;
}

.title-scroll
{
    overflow: auto;
    max-height: 8.8em;
}

.attention{
    color: #666;
    background-color: whitesmoke;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    opacity: 90%;
}