/*.logo-img {*/
/*    height: 20px;*/
/*    width: 20px;*/
/*}*/

/*!* The Modal (background) *!*/
/*.myModal {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: auto; !* Enable scroll if needed *!*/
/*    background-color: rgb(0, 0, 0); !* Fallback color *!*/
/*    background-color: rgba(0, 0, 0, 0.4); !* Black w/ opacity *!*/
/*}*/

/*!* Modal Content/Box *!*/
/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: 10% auto; !* 10% from the top and centered *!*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    width: 80%; !* Could be more or less, depending on screen size *!*/
/*    overflow: auto;*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

/*.raceCard {*/
/*    cursor: pointer;*/
/*}*/

/*.bookmark-btn,*/
/*.signup-btn {*/
/*    display: block;*/
/*    margin-top: 10px;*/
/*    padding: 10px 20px;*/
/*    border-radius: 20px;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    background-color: #4CAF50;*/
/*    border: none;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

/*.bookmark-btn:hover,*/
/*.signup-btn:hover {*/
/*    background-color: #3e8e41;*/
/*}*/

/*.card-description {*/
/*    overflow: auto;*/
/*}*/

/*.card-img-top {*/
/*    width: 100%;*/
/*    height: 16rem;*/
/*}*/

/*.commentList {*/
/*    padding:0;*/
/*    list-style:none;*/
/*    max-height:200px;*/
/*    overflow:auto;*/
/*}*/

/*.info-section {*/
/*    display: none;*/
/*    margin-top: 10px;*/
/*    overflow-y: auto;*/
/*    max-height: 200px;*/
/*}*/