.register-img{
    width: 400px;
    height: auto;
    border-radius: 7px;

}

.form-box {
    max-width: 70vw;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: start;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle-zip {
    font-size: 1em;
    color: #666;
    /*width: 32%;*/
    /*padding-left: 32px;*/
}

.subtitle-run {
    font-size: 1em;
    color: #666;
    /*padding-right: 22px;*/
}

.subtitle-act {
    font-size: 1em;
    color: #666;
    /*padding-right: 80px;*/
}

.run-exp {
    width: 11em;
    font-size: 20px;
}

.act-lvl {
    width: 11em;
    font-size: 20px;
}

.zip {
    width: 11em;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #005ce6;
}

/*mobile view*/
@media (max-width: 768px) {
    /* Custom styles for screens that are `sm` or larger */
    .col-sm-6 {
        overflow: hidden;
        border-radius: 8px;
        background-color: #fff;
        margin: 1rem 0 .5rem;
        width: 100%;
    }

    /*remove image*/
    .form-section {
        display: none;
    }

    .subtitle-zip {
        font-size: 15px;
        color: #666;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }

    .subtitle-run {
        font-size: 15px;
        color: #666;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        margin: 0;
    }

    .subtitle-act {
        font-size: 15px;
        color: #666;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        margin: 0!important
    }

   .run-exp {
        width: 80%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        /*margin-left: 30px;*/
   }

    .act-lvl {
        width: 80%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        /*margin-left: 30px;*/
    }

    .zip-sm {
        margin: 0;
        padding: 0!important;
        width: 100%;
        display: flex;
        justify-content: center !important;
    }

    .btn-reg {
        display: flex;
        justify-content: center !important;
    }
}

