<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials/head :: head}">
    <title>About</title>
</head>
<link rel="stylesheet" th:href="@{/css/about.css}">
<body>

<nav th:replace="~{partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})}"></nav>
<div class="under-nav ">
    <h1 class="title-text pageTitle">Meet the Team</h1>
</div>


<div class="container bodyAbout">
    <div class="column">
        <div class="row"> <!--Card 1-->
            <div class="cardAbout left">
                <img class="headshot leftAlign" src="/images/Robert_Codeup.jpg" alt="">
                <div class="bioHeader">Robert "Rob" Arroyos</div>
                <div class="bio opacityForText">Originally from Uvalde, Texas, Robert moved to San Antonio, Texas after 20 years of active-duty service to pursue a career in software.  He completed the Codeup Full Stack Development six-month program and is excited about a new career in technology.</div>
            </div>
        </div>
        <div class="row"> <!--Card 2-->
            <div class="cardAbout left">
                <img class="headshot leftAlign" src="/images/Joe_CodeUp.jpg" alt="">
                <div class="bioHeader">Joe Michael Garcia III</div>
                <div class="bio opacityForText">Originally from Uvalde, Texas, Robert moved to San Antonio, Texas after 20 years of active-duty service to pursue a career in software.  He completed the Codeup Full Stack Development six-month program and is excited about a new career in technology.</div>
            </div>
        </div>
        <div class="row"> <!--Card 3-->
            <div class="cardAbout left">
                <img class="headshot leftAlign" src="/images/Robert_Codeup.jpg" alt="">
                <div class="bioHeader">Robert "Rob" Arroyos</div>
                <div class="bio opacityForText">Originally from Uvalde, Texas, Robert moved to San Antonio, Texas after 20 years of active-duty service to pursue a career in software.  He completed the Codeup Full Stack Development six-month program and is excited about a new career in technology.</div>
            </div>
        </div>
        <div class="row"> <!--Card 4-->
            <div class="cardAbout left">
                <img class="headshot leftAlign" src="/images/Robert_Codeup.jpg" alt="">
                <div class="bioHeader">Robert "Rob" Arroyos</div>
                <div class="bio opacityForText">Originally from Uvalde, Texas, Robert moved to San Antonio, Texas after 20 years of active-duty service to pursue a career in software.  He completed the Codeup Full Stack Development six-month program and is excited about a new career in technology.</div>
            </div>
        </div>
        <div class="row"> <!--Card 5-->
            <div class="cardAbout left">
                <img class="headshot leftAlign" src="/images/ken-about.jpeg" alt="">
                <div class="bioHeader">Kenneth Hayles</div>
                <div class="bio opacityForText">After serving in the United States Marine Corps, Kenneth's passion for learning led him to pursue a new career in web development. He completed the rigorous Codeup Full Stack Development program, where he gained skills in a multitude of programming languages. When he's not coding, he enjoys skateboarding,running, and spending time with his friends</div>
            </div>
        </div>
    </div>
</div> <!--End of Container-->


<footer th:replace="~{partials/footer :: footer}"></footer>
</body>
</html>