<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head}">
    <title>FAQ</title>
</head>
<body>

<nav th:replace="~{partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})}"></nav>
<div class="under-nav">
    <h1 class="title-text pageTitle">FAQ</h1>
</div>

<div class="container pt-0">
    <div class="row row-cols-lg-2 opacityForText">
        <div class="col-lg-6">
            <h2 class="sub-title-text">What is PhaseRUN?</h2>
            <p class="general-text">While finding a race to participate in may be relatively straightforward, the task of preparing for such an event can prove challenging, particularly for those seeking guidance on training timelines. Many race sign-up websites offer a standardized user experience that does not account for individual differences in age, running experience, and activity level. This is where a service like PhaseRUN can prove invaluable, by recommending races based on the training timelines unique to their fitness level.</p>

            <h2 class="sub-title-text">How does PhaseRUN work?</h2>
            <p class="general-text">Utilizing a custom algorithm, PhaseRUN utilizes your fitness level as a baseline to calculate a tailored timeline to prepare for your specific distance race. These recommendations are personalized to your individual needs and evolve as your running experience, athletic ability, and age change over time.</p>

            <h2 class="sub-title-text">How do I create an account?</h2>
            <p class="general-text">To create an account, click the "Register" button in the navigation bar or on the home page. You will be prompted to enter your username, password, email address DOB, running experience, activity level, and zip code. Once you have entered your information, click the "Sign Up" button. You will be redirected to the login page. Enter your username and password to log in.</p>

        </div>
        <div class="col-lg-6">
            <h2 class="sub-title-text">How do I search for races?</h2>
            <p class="general-text">To access the race search function on PhaseRUN, users must first register for an account. Once registration is complete, users can navigate to the "Race Search" button located on the website's main navigation bar. From there, they can search for races based on their desired distance and proximity to their location. Users' locations are automatically saved by default, but can be updated if necessary, particularly if they are traveling.

            <h2 class="sub-title-text">Why aren't certain races showing up?</h2>
            <p class="general-text">It is important to note that the race search function on PhaseRUN is designed to provide users with recommended races that are within their optimal training period based on their fitness profile. As such, upcoming races that fall outside the recommended training period will not be displayed in the search results. This is to ensure that users are presented with races that align with their training goals and are more likely to yield optimal results.</p>

            <h2 class="sub-title-text">How do I save a race?</h2>
            <p class="general-text">Once you have created an account, you can "Bookmark" any race to save it to your profile. You can view and delete your saved races by clicking the "Profile" button in the navigation bar.</p>

        </div>
    </div>
</div>
</body>
</html>