<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>FAQ</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>
<div class="under-nav">
    <h1 class="title-text pageTitle">FAQ</h1>
</div>

<div class="container pt-0">
    <div class="row row-cols-lg-2 opacityForText">
        <div class="col-lg-6">
            <h2 class="sub-title-text">How often should I run?</h2>
            <p class="general-text">The frequency of your runs will depend on your fitness level, goals, and schedule. Generally, it's recommended to run at least three times a week, but some runners prefer to run every day. It's important to listen to your body and avoid overtraining, so make sure to build in rest days as needed.</p>
            <h2 class="sub-title-text">How do I create an account?</h2>
            <p class="general-text">To create an account, click the "Register" button in the navigation bar or on the home page. You will be prompted to enter your username, password, and email address. Once you have entered your information, click the "Sign Up" button. You will be redirected to the login page. Enter your username and password to log in.</p>
            <h2 class="sub-title-text">How do I log in?</h2>
            <p class="general-text">To log in, click the "Log In" button in the navigation bar. You will be prompted to enter your username and password. Once you have entered your information, click the "Log In" button. You will be redirected to the home page.</p>
        </div>
        <div class="col-lg-6">
            <h2 class="sub-title-text">How do I search for races?</h2>
            <p class="general-text">To search for races, click the "Race Search" button in the navigation bar.</p>
            <h2 class="sub-title-text">How do I save a race?</h2>
            <p class="general-text">To save a race, you must first create an account. Once you have created an account, you can click the "Bookmark" button on any race to save it to your profile. You can view your saved races by clicking the "Profile" button in the navigation bar.</p>
            <h2 class="sub-title-text">How do I contact PhaseRUN?</h2>
           <p class="general-text">You don't find us. We'll find you.</p>
        </div>
    </div>
</div>
<footer th:replace="~{partials/footer :: footer}"></footer>
</body>
</html>