<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{partials/head :: head}">

    <title>Home</title>

</head>
<link rel="stylesheet" th:href="@{/css/homeStyle.css}">
<body>

<nav th:replace="~{partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})}"></nav>

<header>
    <img class="logo-home"  align="center" src="/images/logo-color.png" alt="boom">
</header>
<div class="sub-animation">
    <p class="nav-group lead home-text" align="center">"LIFE'S GOALS START AT PHASE ONE"</p>
    <h1 class="nav-group lead home-sub-text" align="center"><span>Click </span><a class="register-home" th:href="@{/register}">REGISTER</a><span> and start your PhaseRun!</span></h1>
</div>

    <!--Main Display-->

    <div class="container under-nav">
        <div class="row row-cols-lg-2">
            <div class="col-lg-6 py-5 bg-info bg-opacity-70 d-flex justify-content-center left-sq">
                <img class="img-set" src="/images/pexels-andrea-piacquadio-3764537.jpg" alt="intimidate">
            </div>
            <div class="col-lg-6 py-5 bg-info-subtle bg-opacity-70 right-sq">
                <p class="sub-title-text">
                    How does PhaseRUN work?
                </p>
                <div class="centered-text general-text intimidate-setting">
                    <p>PhaseRun uses the inputs you provide:</p>
                    <p><i class="fa-solid fa-cake-candles"></i>&nbsp;&nbsp;&nbsp;Age</p>

                    <p><i class="fa-solid fa-person-running"></i>&nbsp;&nbsp;&nbsp;Running Experience</p>

                    <p><i class="fa-solid fa-heart-pulse"></i>&nbsp;&nbsp;&nbsp;Activity level</p>

                    <p><i class="fa-solid fa-calculator"></i>&nbsp;&nbsp;&nbsp;Compiles a fitness score

                    <p><i class="fa-sharp fa-solid fa-shuffle"></i>&nbsp;&nbsp;&nbsp;Our algorithm tailors a training timeline for your race!</p>
                </div>
                <p class="sub-title-text">Head over to our <a style="text-decoration: none" th:href="@{/faq}">FAQ</a> for additional information!</p>

                <p class="sub-title-text">
                    Your first steps start <a style="text-decoration: none" th:href="@{/register}">HERE</a>!
                </p>


            </div>
        </div>
    </div>

</body>
</html>
