<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{partials/head :: head}">

    <title>Home</title>

</head>
<link rel="stylesheet" th:href="@{/css/homeStyle.css}">
<body>

<nav th:replace="~{partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})}"></nav>


<header>
    <img class="logo-home"  align="center" src="/images/logo-home.png" alt="boom">
</header>
<div>
    <p class="nav-group lead home-text" align="center">"LIFE'S GOALS START AT PHASE ONE"</p>
    <h1 class="nav-group lead home-sub-text" align="center"><span>Click </span><a th:href="@{/register}">REGISTER</a><span> and start your PhaseRun!</span></h1>
</div>
<!--        </div>-->

    <!--Main Display-->

    <div class="container under-nav">
        <div class="row row-cols-lg-2">
            <div class="col-lg-6 py-5 bg-info bg-opacity-70 d-flex justify-content-center left-sq">
                <img class="img-set" src="/images/pexels-andrea-piacquadio-3764537.jpg" alt="intimidate">
            </div>
            <div class="col-lg-6 py-5 bg-info-subtle bg-opacity-70 right-sq">
                <p class="sub-title-text">
                    Signing up for a race can be intimidating.
                </p>
                <div class="centered-text general-text intimidate-setting">
                    <p>What distance should I run?</p>
                    <p>How do I train?</p>
                    <p>Where is the nearest race?</p>
                    <p>When is it?</p>
                    <p>How do I reach my goals?</p>
                </div>
                <p class="sub-title-text">
                    PhaseRUN is here to help you answer these questions and more.
                </p>
                <p class="sub-title-text">
                    Your first steps start <a th:href="@{/register}">HERE</a>
                </p>
            </div>
<!--                <div class="col-lg-12 d-flex justify-content-center mt-4">-->
<!--                    <img class="img-set" src="/images/pexels-boom.jpg" alt="start">-->
<!--                </div>-->
<!--                <div class="col-lg-12">-->
<!--                    <h1 class="sub-title-text">YOUR FIRST STEPS START <a th:href="@{/register}">HERE</a></h1>-->
<!--                </div>-->
        </div>
    </div>

    <footer th:replace="~{partials/footer :: footer}"></footer>
</body>
</html>
