<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/head :: head">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/fitnessProfile.css}">

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="under-nav heading title-text">Register</h1>

<div class="container" align="center">
    <div class="row row-cols-lg-2">
        <div class="col-lg-6">
            <div class="padding">
                <label class="visually-hidden" for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" />
            </div>
            <div class="padding">
                <label class="visually-hidden" for="email">Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="padding">
                <label class="visually-hidden" for="date-of-birth">DOB:</label>
                <input class="form-control" type="date" id="date-of-birth" name="date-of-birth" placeholder="DOB mm/dd/yyyy" />
            </div>
            <div class="padding">
                <label class="visually-hidden" for="running-exp">Race Experience</label>
                <select name="running-exp" class="form-select" id="running-exp">
                    <option value="none" selected>Race Experience</option>
                    <option value="25">None</option>
                    <option value="20">Beginner</option>
                    <option value="15">Recreational</option>
                    <option value="10">Intermediate</option>
                    <option value="5">Expert</option>
                </select>
            </div>
            <div class="padding">
                <label class="visually-hidden" for="activity-level">Activity Level:</label>
                <select name="activity-level" class="form-select" id="activity-level">
                    <option value="none" selected>Activity Level</option>
                    <option value="25">None</option>
                    <option value="20">Beginner</option>
                    <option value="15">Intermediate</option>
                    <option value="10">Expert</option>
                    <option value="5">Elite</option>
                </select>
            </div>
            <div class="padding">
                <label class="fit-zipcode visually-hidden" for="fit-zipcode">Zip Code</label>
                <input type="number" pattern="[0-9]" id="fit-zipcode" name="zipcode" value="" placeholder="Zip Code" />
            </div>
            <div class="padding">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-7">
                <img class="register-img" src="/images/pexels-cottonbro-studio-5310782.jpg" alt="runner">
            </div>
        </div>
    </div>
</div>

<nav th:replace="partials/footer :: footer"></nav>
</body>
</html>
