<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{partials/head :: head}">
    <title>Register</title>


</head>
<link rel="stylesheet" th:href="@{/css/register.css}">

<body>
<nav th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>

<div class="under-nav">
    <h1 class="heading title-text pageTitle">Register</h1>
</div>
<div class="container form-box opacity-90 pt-0">
    <form class="row form-input general-text form justify-content-center align-items-center" th:action="@{/register}" method="POST" th:Object="${user}" id="fitness-form">
        <div class="row row-cols-lg-2 justify-content-center align-items-center ">
            <div class="col-lg-6">
                <div class="form-container">
                    <label class="visually-hidden" for="username">Username</label>
                    <input type="text" class="form-control input" id="username" placeholder="Username" th:field="*{username}"/>

                    <label class="visually-hidden" for="email">Email</label>
                    <input type="email" class="form-control input" id="email" placeholder="Email" th:field="*{email}">

                    <label class="visually-hidden" for="password">Password</label>
                    <input type="password" class="form-control input" id="password" placeholder="Password" th:field="*{password}"/>

                    <label class="visually-hidden" for="date-of-birth">DOB</label>
                    <input class="form-control input" type="date" id="date-of-birth" name="date-of-birth" placeholder="DOB mm/dd/yyyy"/>
                    <div>
                    <label for="running-exp" class="subtitle">Running Experience</label>
                         <select id="running-exp" th:field="*{runningExp}">
                            <option th:each="runningExp : ${T(com.codeup.phaserun.models.User.RunningExpEnum).values()}"
                                th:value="${runningExp}"
                                th:text="${runningExp}"
                                th:selected="${T(com.codeup.phaserun.models.User.RunningExpEnum).NONE}">
                            </option>
                        </select>
                    </div>
                    <div>
                    <label for="activity-level" class="subtitle">Activity Level</label>
                        <select id="activity-level" th:field="*{activityLvl}">
                            <option th:each="activityLvl : ${T(com.codeup.phaserun.models.User.ActivityLvlEnum).values()}"
                                    th:value="${activityLvl}"
                                    th:text="${activityLvl}"
                                    th:selected="${T(com.codeup.phaserun.models.User.ActivityLvlEnum).NONE}">
                            </option>
                        </select>
                    </div>
<!--                    Zip code Container-->
                    <div class="row align-items-center justify-content-center">
                        <label class="subtitle col-3" for="fit-zipcode">Zip Code</label>
                        <input class="col-8" type="number" pattern="[0-9]" id="fit-zipcode" value="" placeholder="Zip Code" th:field="*{zipcode}"/>
                    </div>
<!--                    Form Submit Button Container-->
                    <div class="row justify-content-center">
                        <div class="col-3 mx-0 my-3">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center">
                        <p>Have an account? <a href="/login">Log in</a></p>
                    </div>
                </div>
            </div>
            <div class="form-section col-lg-6">
<!--                Right Column-->
                <div class="row">
<!--                    Img Container-->
                    <div class="col d-flex justify-content-center">
                        <img src="/images/pexels-cottonbro-woman-run.jpg" alt="register" class="register-img overflow-x-visible">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="~{partials/footer :: footer}"></footer>
</body>
</html>
