<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/head :: head">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/fitnessProfile.css}">

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Register</h1>

<div id="fitness-form">
    <form th:action="@{/register}" th:method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" name="username" />
        <br>
        <label for="email">Email</label>
        <input id="email" th:field="*{email}"/>
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />
        <br>
        <label for="date-of-birth">DOB:</label>
        <input type="date" id="date-of-birth" th:field="*{birthDate}" placeholder="mm/dd/yyyy">
        <br>
        <label class="fit-zipcode" for="fit-zipcode">Zip Code</label>
        <input type="number" pattern="[0-9]" id="fit-zipcode" th:field="*{zipcode}" value="" placeholder="Zip Code">
        <br>
        <label for="running-exp">Running Experience:</label>
        <select id="running-exp" th:field="*{runningExp}">
            <option th:each="runningExp : ${T(com.codeup.phaserun.models.User.RunningExpEnum).values()}"
                    th:value="${runningExp}"
                    th:text="${runningExp}"
                    th:selected="${T(com.codeup.phaserun.models.User.RunningExpEnum).NONE}">
            </option>
        </select>
        <br>
        <label for="activity-level">Activity Level:</label>
        <select id="activity-level" th:field="*{activityLvl}">
            <option th:each="activityLvl : ${T(com.codeup.phaserun.models.User.ActivityLvlEnum).values()}"
                    th:value="${activityLvl}"
                    th:text="${activityLvl}"
                    th:selected="${T(com.codeup.phaserun.models.User.ActivityLvlEnum).NONE}">
            </option>
        </select>
        <br>
        <input type="submit" />
    </form>
</div>

<nav th:replace="partials/footer :: footer"></nav>
</body>
</html>
