<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/head :: head">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/fitnessProfile.css}">

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="under-nav heading title-text">Register</h1>

<div class="container">
<form class="row form-input general-text" th:action="@{/register}" method="POST" th:Object="${user}" id="fitness-form">
    <div class="row row-cols-lg-2">
        <div class="col-lg-6">
            <div class="padding">
                <label class="visually-hidden" for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}"/>
            </div>
            <div class="padding">
                <label class="visually-hidden" for="email">Email</label>
            <div class="input-group">
                <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}">
            </div>
            </div>
            <div class="padding">
                <label class="visually-hidden" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
            </div>
            <div class="padding">
                <label class="visually-hidden" for="date-of-birth">DOB:</label>
                <input class="form-control" type="date" id="date-of-birth" name="date-of-birth" placeholder="DOB mm/dd/yyyy" />
            </div>
            <div class="padding">
                <label for="running-exp">Running Experience:</label>
                 <select id="running-exp" th:field="*{runningExp}">
                    <option th:each="runningExp : ${T(com.codeup.phaserun.models.User.RunningExpEnum).values()}"
                            th:value="${runningExp}"
                            th:text="${runningExp}"
                            th:selected="${T(com.codeup.phaserun.models.User.RunningExpEnum).NONE}">
                    </option>
                </select>
            </div>
            <div class="padding">
                <label for="activity-level">Activity Level:</label>
                  <select id="activity-level" th:field="*{activityLvl}">
                      <option th:each="activityLvl : ${T(com.codeup.phaserun.models.User.ActivityLvlEnum).values()}"
                              th:value="${activityLvl}"
                              th:text="${activityLvl}"
                              th:selected="${T(com.codeup.phaserun.models.User.ActivityLvlEnum).NONE}">
                      </option>
                  </select>
            </div>
            <div class="padding">
                 <label class="fit-zipcode" for="fit-zipcode">Zip Code</label>
                <input type="number" pattern="[0-9]" id="fit-zipcode" value="" placeholder="Zip Code" th:field="*{zipcode}" />
            </div>
            <div class="padding">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-7">
                <img class="register-img" src="/images/pexels-cottonbro-woman-run.jpg" alt="runner">
            </div>
        </div>
    </div>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
